<div id="serversUsagePieChartCard" class="card card-chart">
    <div class="card-header">
        <h5 class="card-category">General Analysis</h5>
        <h4 class="card-title">Servers usage proportion</h4>
        <p class="category">A proportion of the servers utilization of how many <b>total rows they have retrieved</b> given the chosen lists and the monitored period</p>
    </div>
    <div class="card-body">
        <div id="serversUsagePieChartLoader">
            <div class="db-spinner">
                <div class="double-bounce1 bg-primary"></div>
                <div class="double-bounce2 bg-primary"></div>
            </div>
        </div>
        <div class="chart-area" style="height: auto;">
            <canvas id="serversUsagePieChart"></canvas>
        </div>
    </div>
    <div class="card-footer">
        <div class="stats">
            <i class="now-ui-icons travel_info"></i> <span class="stats-info"></span>
        </div>
    </div>
</div>

<script>
    function constructServersUsagePieChartCard() {

        var pieChart = null;

        var canvas = $("#serversUsagePieChart");
        var pieChartLoader = $("#serversUsagePieChartLoader");

        function formatData(raw) {

            var labels = [];
            var colors = [];

            if (raw.length) {
                for (var j = 0; j < raw[0].servers.length; j++) {
                    var serverName = raw[0].servers[j].name;
                    labels.push(`Сървър S${serverName}`);
                    colors.push(availableColors[smartUCFServers.indexOf(serverName)]);
                }
            }

            var datasets = [];

            for (var i = 0; i < raw.length; i++) {
                var current = raw[i];

                if (!current.display) {
                    continue;
                }

                var dataset = {
                    data: current.servers.map(x => x.retrieved),
                    backgroundColor: colors
                };

                datasets.push(dataset);

            }

            return {
                datasets: datasets,
                labels: labels
            }
        }

        function updateMeta(meta) {

            var totalRowsDisplayed = 0;
            var datasets = meta.datasets;
            for (var i = 0; i < datasets.length; i++) {
                totalRowsDisplayed += datasets[i].data.reduce((a, b) => a + b);
            }

            $("#serversUsagePieChartCard .card-footer .stats-info").text(`Displaying data from ${meta.datasets.length} lists. Total of ${nFormatter(totalRowsDisplayed, 2)} rows.`);
        }

        function updateData(data) {

            if (pieChart) {                
                var newData = formatData(data);
                updateMeta(newData);
                pieChart.data = newData;
                pieChart.update();
                return;
            }
                        
            pieChartLoader.hide();

            var chartData = formatData(data);
            updateMeta(chartData);

            var ctx = canvas[0].getContext("2d");            

            pieChart = new Chart(ctx,
                {
                    type: 'pie',
                    data: chartData,

                    options: {
                        tooltips: {
                            enabled: true,
                            callbacks: {
                                label: function (tooltipItem, data) {
                                    
                                    const label = data.labels[tooltipItem.index];
                                    const val = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];

                                    return '\t' + label + ' : ' + parseInt(val).toLocaleString('bg');
                                }

                            }
                        }
                    },

                    plugins: [
                        {
                            beforeInit: function (chart) {
                                chart.legend.afterFit = function () {
                                    this.height = this.height + 30;
                                };
                            }
                        }
                    ]
                });
        } 

        return {
            updateData: updateData
        }
    }
</script>