@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>


@section head {

}

@section sidebar {
    TODO;
}

@section navbar {
    TODO;
}

<div class="panel-header">
    <div class="header text-center">
        <h2 class="title">HOME</h2>
        <p class="category">Handcrafted by our friend <a target="_blank" href="https://github.com/panayot-zhi">Panayot Ivanov</a>. Please checkout the <a href="https://github.com/panayot-zhi/LogFilterWeb" target="_blank">full documentation.</a></p>
    </div>
</div>

@section footer {
    TODO;
}

@section scripts {

}
